<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
    <div id="app">
        {{msg}}

        <div v-for="item in list">
            {{item}}
        </div>
        <div v-for="item in list1" :class="{'active':true}" v-bind:style="styleMsg">
                {{item.name}}
            </div>
    </div>

    <script>
    new Vue({
        el:'#app',
        data:{
            msg:'Hello Vue!',
            styleMsg:{
                color:'red'
            },
            list:[1,2,3,4,5],
            list1:[{
                name:'小米',
                age:7
            },{
                name:'华为',
                age:'10'
            }]
        }
    })
    </script>
</body>
</html>